.logo {   
    width: 25%;
    margin: 50px;
   }
   img {
    width: 100%;
   }
   h1 {
    text-align: center;
   }
   #calculator {
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 350px;
    margin:auto;
    background-color: rgb(255, 223, 180);
    border: solid 5px #000;
   }
   #screen {
    background-color: white;
    height: 50px;
    width: 90%;
    margin: 10px auto;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   }
   #numbers {
    display: flex;
    flex-wrap: wrap;
   }
   .number,
   .operator,
   #clear,
   #equal {
    background-color: #F28500;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 3px 3px #b26201;
   }
   .number:active {
    box-shadow: 0px 0px;
   }
   .operator:active {
    box-shadow: 0px 0px;
   }
   #clear:active {
    box-shadow: 0px 0px;
   }
   #equal:active {
    box-shadow: 0px 0px;
   }


    .operator,
    .clear {
    background-color: bisque;
    box-shadow: 3px 3px rgb(255, 204, 142);
   }

   #buttons {
    display: flex;
       }
    

    /*.clear {
        background-color: orange;
    }*/

   /*S this is a test*/

   #operators {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }